<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableArbitro" header="ArbitroData">
							<p:growl id="men"/>				
							<p:dataTable value="#{arbitroView.data}" var="arbitro"
								paginator="true" rows="5">
																										<p:column filterBy="#{arbitro.arbId}" sortBy="#{arbitro.arbId}" >
										 <f:facet name="header">
										<h:outputText value="arbId"/>
										</f:facet>
										 <h:outputText value="#{arbitro.arbId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{arbitro.apellido}" sortBy="#{arbitro.apellido}" >
										 <f:facet name="header">
										<h:outputText value="Apellido"/>
										</f:facet>
										 <h:outputText value="#{arbitro.apellido}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{arbitro.cedula}" sortBy="#{arbitro.cedula}" >
										 <f:facet name="header">
										<h:outputText value="Cedula"/>
										</f:facet>
										 <h:outputText value="#{arbitro.cedula}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{arbitro.correo}" sortBy="#{arbitro.correo}" >
										 <f:facet name="header">
										<h:outputText value="Correo"/>
										</f:facet>
										 <h:outputText value="#{arbitro.correo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{arbitro.estatura}" sortBy="#{arbitro.estatura}" >
										 <f:facet name="header">
										<h:outputText value="Estatura"/>
										</f:facet>
										 <h:outputText value="#{arbitro.estatura}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{arbitro.fechaNacimiento}" sortBy="#{arbitro.fechaNacimiento}" >
										 <f:facet name="header">
										<h:outputText value="FechaNacimiento"/>
										</f:facet>
										 <h:outputText value="#{arbitro.fechaNacimiento}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{arbitro.nombre}" sortBy="#{arbitro.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{arbitro.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{arbitro.peso}" sortBy="#{arbitro.peso}" >
										 <f:facet name="header">
										<h:outputText value="Peso"/>
										</f:facet>
										 <h:outputText value="#{arbitro.peso}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogArbitro"
										actionListener="#{arbitroView.action_edit}">
										<f:attribute name="selectedArbitro" value="#{arbitro}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{arbitroView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedArbitro" value="#{arbitro}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{arbitroView.action_new()}" update=":dialogArbitro" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogArbitro" appendTo="@(body)" draggable="true"
						closable="false" visible="#{arbitroView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelArbitro" header="Arbitro">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgArbId" value="ArbId"/>
									 <p:inputText id="txtArbId" binding="#{arbitroView.txtArbId}">
									 <p:ajax update=":dialogArbitro" listener="#{arbitroView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgApellido" value=" Apellido"/>
									<p:inputText id="txtApellido" disabled="true" binding="#{arbitroView.txtApellido}"/>
																		<h:outputText id="msgCedula" value=" Cedula"/>
									<p:inputText id="txtCedula" disabled="true" binding="#{arbitroView.txtCedula}"/>
																		<h:outputText id="msgCorreo" value=" Correo"/>
									<p:inputText id="txtCorreo" disabled="true" binding="#{arbitroView.txtCorreo}"/>
																		<h:outputText id="msgEstatura" value=" Estatura"/>
									<p:inputText id="txtEstatura" disabled="true" binding="#{arbitroView.txtEstatura}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{arbitroView.txtNombre}"/>
																		<h:outputText id="msgPeso" value=" Peso"/>
									<p:inputText id="txtPeso" disabled="true" binding="#{arbitroView.txtPeso}"/>
																		
																													<h:outputText id="msgFechaNacimiento" value=" FechaNacimiento"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{arbitroView.txtFechaNacimiento}" >
										<p:ajax event="dateSelect" listener="#{arbitroView.listener_txtFechaNacimiento}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{arbitroView.btnSave}" value="Save" action="#{arbitroView.action_save()}" update=":dialogArbitro :frm:panelDataTableArbitro" />
									<p:commandButton id="btnClear" value="Clear" action="#{arbitroView.action_clear()}" update=":dialogArbitro" />
									<p:commandButton id="btnExit" value="Exit" action="#{arbitroView.action_closeDialog()}" update=":dialogArbitro" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

