<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelDirector" header="Director">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgDirId" value="DirId"/>
						 	<p:inputText id="txtDirId" binding="#{directorView.txtDirId}">
						 		<p:ajax update="panelDirector,msg,panelBotones" listener="#{directorView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgApellido" value=" Apellido"/>
							<p:inputText id="txtApellido" disabled="true" binding="#{directorView.txtApellido}"/>
													<h:outputText id="msgCedula" value=" Cedula"/>
							<p:inputText id="txtCedula" disabled="true" binding="#{directorView.txtCedula}"/>
													<h:outputText id="msgCorreo" value=" Correo"/>
							<p:inputText id="txtCorreo" disabled="true" binding="#{directorView.txtCorreo}"/>
													<h:outputText id="msgNombre" value=" Nombre"/>
							<p:inputText id="txtNombre" disabled="true" binding="#{directorView.txtNombre}"/>
												
										   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{directorView.btnSave}" disabled="true" value="Save" action="#{directorView.action_save()}" update="panelDirector,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{directorView.btnDelete}" disabled="true" value="Delete" action="#{directorView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelDirector,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{directorView.action_clear()}" update="panelDirector,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>