<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableDirector" header="DirectorData">
							<p:growl id="men"/>				
							<p:dataTable value="#{directorView.data}" var="director"
								paginator="true" rows="5">
																										<p:column filterBy="#{director.dirId}" sortBy="#{director.dirId}" >
										 <f:facet name="header">
										<h:outputText value="dirId"/>
										</f:facet>
										 <h:outputText value="#{director.dirId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{director.apellido}" sortBy="#{director.apellido}" >
										 <f:facet name="header">
										<h:outputText value="Apellido"/>
										</f:facet>
										 <h:outputText value="#{director.apellido}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{director.cedula}" sortBy="#{director.cedula}" >
										 <f:facet name="header">
										<h:outputText value="Cedula"/>
										</f:facet>
										 <h:outputText value="#{director.cedula}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{director.correo}" sortBy="#{director.correo}" >
										 <f:facet name="header">
										<h:outputText value="Correo"/>
										</f:facet>
										 <h:outputText value="#{director.correo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{director.nombre}" sortBy="#{director.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{director.nombre}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogDirector"
										actionListener="#{directorView.action_edit}">
										<f:attribute name="selectedDirector" value="#{director}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{directorView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedDirector" value="#{director}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{directorView.action_new()}" update=":dialogDirector" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogDirector" appendTo="@(body)" draggable="true"
						closable="false" visible="#{directorView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelDirector" header="Director">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgDirId" value="DirId"/>
									 <p:inputText id="txtDirId" binding="#{directorView.txtDirId}">
									 <p:ajax update=":dialogDirector" listener="#{directorView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgApellido" value=" Apellido"/>
									<p:inputText id="txtApellido" disabled="true" binding="#{directorView.txtApellido}"/>
																		<h:outputText id="msgCedula" value=" Cedula"/>
									<p:inputText id="txtCedula" disabled="true" binding="#{directorView.txtCedula}"/>
																		<h:outputText id="msgCorreo" value=" Correo"/>
									<p:inputText id="txtCorreo" disabled="true" binding="#{directorView.txtCorreo}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{directorView.txtNombre}"/>
																		
																    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{directorView.btnSave}" value="Save" action="#{directorView.action_save()}" update=":dialogDirector :frm:panelDataTableDirector" />
									<p:commandButton id="btnClear" value="Clear" action="#{directorView.action_clear()}" update=":dialogDirector" />
									<p:commandButton id="btnExit" value="Exit" action="#{directorView.action_closeDialog()}" update=":dialogDirector" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

