<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableJugador" header="JugadorData">
							<p:growl id="men"/>				
							<p:dataTable value="#{jugadorView.data}" var="jugador"
								paginator="true" rows="5">
																										<p:column filterBy="#{jugador.jugId}" sortBy="#{jugador.jugId}" >
										 <f:facet name="header">
										<h:outputText value="jugId"/>
										</f:facet>
										 <h:outputText value="#{jugador.jugId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{jugador.apellido}" sortBy="#{jugador.apellido}" >
										 <f:facet name="header">
										<h:outputText value="Apellido"/>
										</f:facet>
										 <h:outputText value="#{jugador.apellido}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jugador.cedula}" sortBy="#{jugador.cedula}" >
										 <f:facet name="header">
										<h:outputText value="Cedula"/>
										</f:facet>
										 <h:outputText value="#{jugador.cedula}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jugador.correo}" sortBy="#{jugador.correo}" >
										 <f:facet name="header">
										<h:outputText value="Correo"/>
										</f:facet>
										 <h:outputText value="#{jugador.correo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jugador.estatura}" sortBy="#{jugador.estatura}" >
										 <f:facet name="header">
										<h:outputText value="Estatura"/>
										</f:facet>
										 <h:outputText value="#{jugador.estatura}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jugador.fechaNacimiento}" sortBy="#{jugador.fechaNacimiento}" >
										 <f:facet name="header">
										<h:outputText value="FechaNacimiento"/>
										</f:facet>
										 <h:outputText value="#{jugador.fechaNacimiento}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jugador.nombre}" sortBy="#{jugador.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{jugador.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jugador.peso}" sortBy="#{jugador.peso}" >
										 <f:facet name="header">
										<h:outputText value="Peso"/>
										</f:facet>
										 <h:outputText value="#{jugador.peso}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jugador.ranking}" sortBy="#{jugador.ranking}" >
										 <f:facet name="header">
										<h:outputText value="Ranking"/>
										</f:facet>
										 <h:outputText value="#{jugador.ranking}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogJugador"
										actionListener="#{jugadorView.action_edit}">
										<f:attribute name="selectedJugador" value="#{jugador}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{jugadorView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedJugador" value="#{jugador}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{jugadorView.action_new()}" update=":dialogJugador" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogJugador" appendTo="@(body)" draggable="true"
						closable="false" visible="#{jugadorView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelJugador" header="Jugador">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgJugId" value="JugId"/>
									 <p:inputText id="txtJugId" binding="#{jugadorView.txtJugId}">
									 <p:ajax update=":dialogJugador" listener="#{jugadorView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgApellido" value=" Apellido"/>
									<p:inputText id="txtApellido" disabled="true" binding="#{jugadorView.txtApellido}"/>
																		<h:outputText id="msgCedula" value=" Cedula"/>
									<p:inputText id="txtCedula" disabled="true" binding="#{jugadorView.txtCedula}"/>
																		<h:outputText id="msgCorreo" value=" Correo"/>
									<p:inputText id="txtCorreo" disabled="true" binding="#{jugadorView.txtCorreo}"/>
																		<h:outputText id="msgEstatura" value=" Estatura"/>
									<p:inputText id="txtEstatura" disabled="true" binding="#{jugadorView.txtEstatura}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{jugadorView.txtNombre}"/>
																		<h:outputText id="msgPeso" value=" Peso"/>
									<p:inputText id="txtPeso" disabled="true" binding="#{jugadorView.txtPeso}"/>
																		<h:outputText id="msgRanking" value=" Ranking"/>
									<p:inputText id="txtRanking" disabled="true" binding="#{jugadorView.txtRanking}"/>
																		
																													<h:outputText id="msgFechaNacimiento" value=" FechaNacimiento"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{jugadorView.txtFechaNacimiento}" >
										<p:ajax event="dateSelect" listener="#{jugadorView.listener_txtFechaNacimiento}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{jugadorView.btnSave}" value="Save" action="#{jugadorView.action_save()}" update=":dialogJugador :frm:panelDataTableJugador" />
									<p:commandButton id="btnClear" value="Clear" action="#{jugadorView.action_clear()}" update=":dialogJugador" />
									<p:commandButton id="btnExit" value="Exit" action="#{jugadorView.action_closeDialog()}" update=":dialogJugador" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

