<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelJugador" header="Jugador">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgJugId" value="JugId"/>
						 	<p:inputText id="txtJugId" binding="#{jugadorView.txtJugId}">
						 		<p:ajax update="panelJugador,msg,panelBotones" listener="#{jugadorView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgApellido" value=" Apellido"/>
							<p:inputText id="txtApellido" disabled="true" binding="#{jugadorView.txtApellido}"/>
													<h:outputText id="msgCedula" value=" Cedula"/>
							<p:inputText id="txtCedula" disabled="true" binding="#{jugadorView.txtCedula}"/>
													<h:outputText id="msgCorreo" value=" Correo"/>
							<p:inputText id="txtCorreo" disabled="true" binding="#{jugadorView.txtCorreo}"/>
													<h:outputText id="msgEstatura" value=" Estatura"/>
							<p:inputText id="txtEstatura" disabled="true" binding="#{jugadorView.txtEstatura}"/>
													<h:outputText id="msgNombre" value=" Nombre"/>
							<p:inputText id="txtNombre" disabled="true" binding="#{jugadorView.txtNombre}"/>
													<h:outputText id="msgPeso" value=" Peso"/>
							<p:inputText id="txtPeso" disabled="true" binding="#{jugadorView.txtPeso}"/>
													<h:outputText id="msgRanking" value=" Ranking"/>
							<p:inputText id="txtRanking" disabled="true" binding="#{jugadorView.txtRanking}"/>
												
																				<h:outputText id="msgFechaNacimiento" value=" FechaNacimiento"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{jugadorView.txtFechaNacimiento}" >
								<p:ajax event="dateSelect" listener="#{jugadorView.listener_txtFechaNacimiento}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{jugadorView.btnSave}" disabled="true" value="Save" action="#{jugadorView.action_save()}" update="panelJugador,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{jugadorView.btnDelete}" disabled="true" value="Delete" action="#{jugadorView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelJugador,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{jugadorView.action_clear()}" update="panelJugador,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>