<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTablePartido" header="PartidoData">
							<p:growl id="men"/>				
							<p:dataTable value="#{partidoView.data}" var="partido"
								paginator="true" rows="5">
																										<p:column filterBy="#{partido.parId}" sortBy="#{partido.parId}" >
										 <f:facet name="header">
										<h:outputText value="parId"/>
										</f:facet>
										 <h:outputText value="#{partido.parId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{partido.descripcion}" sortBy="#{partido.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{partido.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{partido.fecha}" sortBy="#{partido.fecha}" >
										 <f:facet name="header">
										<h:outputText value="Fecha"/>
										</f:facet>
										 <h:outputText value="#{partido.fecha}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{partido.nivel}" sortBy="#{partido.nivel}" >
										 <f:facet name="header">
										<h:outputText value="Nivel"/>
										</f:facet>
										 <h:outputText value="#{partido.nivel}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{partido.tiempo}" sortBy="#{partido.tiempo}" >
										 <f:facet name="header">
										<h:outputText value="Tiempo"/>
										</f:facet>
										 <h:outputText value="#{partido.tiempo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{partido.arbId_Arbitro}" sortBy="#{partido.arbId_Arbitro}" >
										 <f:facet name="header">
										<h:outputText value="ArbId_Arbitro"/>
										</f:facet>
										 <h:outputText value="#{partido.arbId_Arbitro}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{partido.canId_Cancha}" sortBy="#{partido.canId_Cancha}" >
										 <f:facet name="header">
										<h:outputText value="CanId_Cancha"/>
										</f:facet>
										 <h:outputText value="#{partido.canId_Cancha}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{partido.ronId_Ronda}" sortBy="#{partido.ronId_Ronda}" >
										 <f:facet name="header">
										<h:outputText value="RonId_Ronda"/>
										</f:facet>
										 <h:outputText value="#{partido.ronId_Ronda}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogPartido"
										actionListener="#{partidoView.action_edit}">
										<f:attribute name="selectedPartido" value="#{partido}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{partidoView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedPartido" value="#{partido}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{partidoView.action_new()}" update=":dialogPartido" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogPartido" appendTo="@(body)" draggable="true"
						closable="false" visible="#{partidoView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelPartido" header="Partido">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgParId" value="ParId"/>
									 <p:inputText id="txtParId" binding="#{partidoView.txtParId}">
									 <p:ajax update=":dialogPartido" listener="#{partidoView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{partidoView.txtDescripcion}"/>
																		<h:outputText id="msgNivel" value=" Nivel"/>
									<p:inputText id="txtNivel" disabled="true" binding="#{partidoView.txtNivel}"/>
																		<h:outputText id="msgTiempo" value=" Tiempo"/>
									<p:inputText id="txtTiempo" disabled="true" binding="#{partidoView.txtTiempo}"/>
																		<h:outputText id="msgArbId_Arbitro" value=" ArbId_Arbitro"/>
									<p:inputText id="txtArbId_Arbitro" disabled="true" binding="#{partidoView.txtArbId_Arbitro}"/>
																		<h:outputText id="msgCanId_Cancha" value=" CanId_Cancha"/>
									<p:inputText id="txtCanId_Cancha" disabled="true" binding="#{partidoView.txtCanId_Cancha}"/>
																		<h:outputText id="msgRonId_Ronda" value=" RonId_Ronda"/>
									<p:inputText id="txtRonId_Ronda" disabled="true" binding="#{partidoView.txtRonId_Ronda}"/>
																		
																													<h:outputText id="msgFecha" value=" Fecha"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{partidoView.txtFecha}" >
										<p:ajax event="dateSelect" listener="#{partidoView.listener_txtFecha}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{partidoView.btnSave}" value="Save" action="#{partidoView.action_save()}" update=":dialogPartido :frm:panelDataTablePartido" />
									<p:commandButton id="btnClear" value="Clear" action="#{partidoView.action_clear()}" update=":dialogPartido" />
									<p:commandButton id="btnExit" value="Exit" action="#{partidoView.action_closeDialog()}" update=":dialogPartido" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

