<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTablePartidoJugador" header="PartidoJugadorData">
							<p:growl id="men"/>				
							<p:dataTable value="#{partidoJugadorView.data}" var="partidoJugador"
								paginator="true" rows="5">
																										<p:column filterBy="#{partidoJugador.parjugId}" sortBy="#{partidoJugador.parjugId}" >
										 <f:facet name="header">
										<h:outputText value="parjugId"/>
										</f:facet>
										 <h:outputText value="#{partidoJugador.parjugId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{partidoJugador.puntaje}" sortBy="#{partidoJugador.puntaje}" >
										 <f:facet name="header">
										<h:outputText value="Puntaje"/>
										</f:facet>
										 <h:outputText value="#{partidoJugador.puntaje}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{partidoJugador.jugId_Jugador}" sortBy="#{partidoJugador.jugId_Jugador}" >
										 <f:facet name="header">
										<h:outputText value="JugId_Jugador"/>
										</f:facet>
										 <h:outputText value="#{partidoJugador.jugId_Jugador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{partidoJugador.parId_Partido}" sortBy="#{partidoJugador.parId_Partido}" >
										 <f:facet name="header">
										<h:outputText value="ParId_Partido"/>
										</f:facet>
										 <h:outputText value="#{partidoJugador.parId_Partido}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogPartidoJugador"
										actionListener="#{partidoJugadorView.action_edit}">
										<f:attribute name="selectedPartidoJugador" value="#{partidoJugador}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{partidoJugadorView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedPartidoJugador" value="#{partidoJugador}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{partidoJugadorView.action_new()}" update=":dialogPartidoJugador" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogPartidoJugador" appendTo="@(body)" draggable="true"
						closable="false" visible="#{partidoJugadorView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelPartidoJugador" header="PartidoJugador">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgParjugId" value="ParjugId"/>
									 <p:inputText id="txtParjugId" binding="#{partidoJugadorView.txtParjugId}">
									 <p:ajax update=":dialogPartidoJugador" listener="#{partidoJugadorView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgPuntaje" value=" Puntaje"/>
									<p:inputText id="txtPuntaje" disabled="true" binding="#{partidoJugadorView.txtPuntaje}"/>
																		<h:outputText id="msgJugId_Jugador" value=" JugId_Jugador"/>
									<p:inputText id="txtJugId_Jugador" disabled="true" binding="#{partidoJugadorView.txtJugId_Jugador}"/>
																		<h:outputText id="msgParId_Partido" value=" ParId_Partido"/>
									<p:inputText id="txtParId_Partido" disabled="true" binding="#{partidoJugadorView.txtParId_Partido}"/>
																		
																    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{partidoJugadorView.btnSave}" value="Save" action="#{partidoJugadorView.action_save()}" update=":dialogPartidoJugador :frm:panelDataTablePartidoJugador" />
									<p:commandButton id="btnClear" value="Clear" action="#{partidoJugadorView.action_clear()}" update=":dialogPartidoJugador" />
									<p:commandButton id="btnExit" value="Exit" action="#{partidoJugadorView.action_closeDialog()}" update=":dialogPartidoJugador" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

