<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelPartido" header="Partido">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgParId" value="ParId"/>
						 	<p:inputText id="txtParId" binding="#{partidoView.txtParId}">
						 		<p:ajax update="panelPartido,msg,panelBotones" listener="#{partidoView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{partidoView.txtDescripcion}"/>
													<h:outputText id="msgNivel" value=" Nivel"/>
							<p:inputText id="txtNivel" disabled="true" binding="#{partidoView.txtNivel}"/>
													<h:outputText id="msgTiempo" value=" Tiempo"/>
							<p:inputText id="txtTiempo" disabled="true" binding="#{partidoView.txtTiempo}"/>
													<h:outputText id="msgArbId_Arbitro" value=" ArbId_Arbitro"/>
							<p:inputText id="txtArbId_Arbitro" disabled="true" binding="#{partidoView.txtArbId_Arbitro}"/>
													<h:outputText id="msgCanId_Cancha" value=" CanId_Cancha"/>
							<p:inputText id="txtCanId_Cancha" disabled="true" binding="#{partidoView.txtCanId_Cancha}"/>
													<h:outputText id="msgRonId_Ronda" value=" RonId_Ronda"/>
							<p:inputText id="txtRonId_Ronda" disabled="true" binding="#{partidoView.txtRonId_Ronda}"/>
												
																				<h:outputText id="msgFecha" value=" Fecha"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{partidoView.txtFecha}" >
								<p:ajax event="dateSelect" listener="#{partidoView.listener_txtFecha}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{partidoView.btnSave}" disabled="true" value="Save" action="#{partidoView.action_save()}" update="panelPartido,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{partidoView.btnDelete}" disabled="true" value="Delete" action="#{partidoView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelPartido,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{partidoView.action_clear()}" update="panelPartido,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>