<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelPartidoJugador" header="PartidoJugador">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgParjugId" value="ParjugId"/>
						 	<p:inputText id="txtParjugId" binding="#{partidoJugadorView.txtParjugId}">
						 		<p:ajax update="panelPartidoJugador,msg,panelBotones" listener="#{partidoJugadorView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgPuntaje" value=" Puntaje"/>
							<p:inputText id="txtPuntaje" disabled="true" binding="#{partidoJugadorView.txtPuntaje}"/>
													<h:outputText id="msgJugId_Jugador" value=" JugId_Jugador"/>
							<p:inputText id="txtJugId_Jugador" disabled="true" binding="#{partidoJugadorView.txtJugId_Jugador}"/>
													<h:outputText id="msgParId_Partido" value=" ParId_Partido"/>
							<p:inputText id="txtParId_Partido" disabled="true" binding="#{partidoJugadorView.txtParId_Partido}"/>
												
										   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{partidoJugadorView.btnSave}" disabled="true" value="Save" action="#{partidoJugadorView.action_save()}" update="panelPartidoJugador,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{partidoJugadorView.btnDelete}" disabled="true" value="Delete" action="#{partidoJugadorView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelPartidoJugador,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{partidoJugadorView.action_clear()}" update="panelPartidoJugador,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>