<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="formulario">
			<p:growl />
			<p:panel header="Funcionalidad generar sorteo automaticamente">

				<p:dataTable id="dataJugador"
					value="#{realizarSorteoView.losJugadores}" var="jugadores"
					emptyMessage="Aun no se han añadido jugadores" scrollable="true"
					scrollHeight="270" rows="100">

					<p:column headerText="Id Jugador">
						<p:outputLabel value="#{jugadores.jugId}" />
					</p:column>

					<p:column headerText="Nombre">
						<p:outputLabel value="#{jugadores.nombre}" />
					</p:column>

					<p:column headerText="Apellido">
						<p:outputLabel value="#{jugadores.apellido}" />
					</p:column>

					<p:column headerText="Estatura CM">
						<p:outputLabel value="#{jugadores.estatura}" />
					</p:column>


					<p:column headerText="Peso KG">
						<p:outputLabel value="#{jugadores.peso}" />
					</p:column>

					<p:column headerText="Cedula">
						<p:outputLabel value="#{jugadores.cedula}" />
					</p:column>

					<p:column headerText="Correo">
						<p:outputLabel value="#{jugadores.correo}" />
					</p:column>

					<p:column headerText="Fecha Nacimiento">
						<p:outputLabel value="#{jugadores.fechaNacimiento}" />
					</p:column>

					<p:column headerText="Ranking">
						<p:outputLabel value="#{jugadores.ranking}" />
					</p:column>

				</p:dataTable>

			</p:panel>


			<div align="center">
				<p:commandButton 
					value="Generar Sorteo Automaticamente" process="@this"
					action="#{realizarSorteoView.realizarSorteo}" update="formulario" />
			</div>


			<div align="center">
				<p:panelGrid columns="2">
					<p:outputLabel value="Identificador Torneo Generado" />
					<p:inputText disabled="true" id="txtIdTorneo" />
				</p:panelGrid>
			</div>



			<p:dataTable id="dataPartidos" value="" var=""
				emptyMessage="Aun no se han añadido jugadores" scrollable="true"
				scrollHeight="270">

				<p:column headerText="Id Jugador">
					<p:outputLabel value="" />
				</p:column>

				<p:column headerText="Nombre">
					<p:outputLabel value="" />
				</p:column>

				<p:column headerText="Apellido">
					<p:outputLabel value="" />
				</p:column>

				<p:column headerText="Estatura">
					<p:outputLabel value="" />
				</p:column>


				<p:column headerText="Peso">
					<p:outputLabel value="" />
				</p:column>

				<p:column headerText="Cedula">
					<p:outputLabel value="" />
				</p:column>

				<p:column headerText="Correo">
					<p:outputLabel value="" />
				</p:column>

				<p:column headerText="Fecha Nacimiento">
					<p:outputLabel value="" />
				</p:column>

				<p:column headerText="Ranking">
					<p:outputLabel value="" />
				</p:column>

			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>