<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableRonda" header="RondaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{rondaView.data}" var="ronda"
								paginator="true" rows="5">
																										<p:column filterBy="#{ronda.ronId}" sortBy="#{ronda.ronId}" >
										 <f:facet name="header">
										<h:outputText value="ronId"/>
										</f:facet>
										 <h:outputText value="#{ronda.ronId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{ronda.nivel}" sortBy="#{ronda.nivel}" >
										 <f:facet name="header">
										<h:outputText value="Nivel"/>
										</f:facet>
										 <h:outputText value="#{ronda.nivel}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ronda.nombre}" sortBy="#{ronda.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{ronda.nombre}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ronda.dirId_Director}" sortBy="#{ronda.dirId_Director}" >
										 <f:facet name="header">
										<h:outputText value="DirId_Director"/>
										</f:facet>
										 <h:outputText value="#{ronda.dirId_Director}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{ronda.torId_Torneo}" sortBy="#{ronda.torId_Torneo}" >
										 <f:facet name="header">
										<h:outputText value="TorId_Torneo"/>
										</f:facet>
										 <h:outputText value="#{ronda.torId_Torneo}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogRonda"
										actionListener="#{rondaView.action_edit}">
										<f:attribute name="selectedRonda" value="#{ronda}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{rondaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedRonda" value="#{ronda}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{rondaView.action_new()}" update=":dialogRonda" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogRonda" appendTo="@(body)" draggable="true"
						closable="false" visible="#{rondaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelRonda" header="Ronda">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgRonId" value="RonId"/>
									 <p:inputText id="txtRonId" binding="#{rondaView.txtRonId}">
									 <p:ajax update=":dialogRonda" listener="#{rondaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgNivel" value=" Nivel"/>
									<p:inputText id="txtNivel" disabled="true" binding="#{rondaView.txtNivel}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{rondaView.txtNombre}"/>
																		<h:outputText id="msgDirId_Director" value=" DirId_Director"/>
									<p:inputText id="txtDirId_Director" disabled="true" binding="#{rondaView.txtDirId_Director}"/>
																		<h:outputText id="msgTorId_Torneo" value=" TorId_Torneo"/>
									<p:inputText id="txtTorId_Torneo" disabled="true" binding="#{rondaView.txtTorId_Torneo}"/>
																		
																    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{rondaView.btnSave}" value="Save" action="#{rondaView.action_save()}" update=":dialogRonda :frm:panelDataTableRonda" />
									<p:commandButton id="btnClear" value="Clear" action="#{rondaView.action_clear()}" update=":dialogRonda" />
									<p:commandButton id="btnExit" value="Exit" action="#{rondaView.action_closeDialog()}" update=":dialogRonda" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

