<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelRonda" header="Ronda">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgRonId" value="RonId"/>
						 	<p:inputText id="txtRonId" binding="#{rondaView.txtRonId}">
						 		<p:ajax update="panelRonda,msg,panelBotones" listener="#{rondaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgNivel" value=" Nivel"/>
							<p:inputText id="txtNivel" disabled="true" binding="#{rondaView.txtNivel}"/>
													<h:outputText id="msgNombre" value=" Nombre"/>
							<p:inputText id="txtNombre" disabled="true" binding="#{rondaView.txtNombre}"/>
													<h:outputText id="msgDirId_Director" value=" DirId_Director"/>
							<p:inputText id="txtDirId_Director" disabled="true" binding="#{rondaView.txtDirId_Director}"/>
													<h:outputText id="msgTorId_Torneo" value=" TorId_Torneo"/>
							<p:inputText id="txtTorId_Torneo" disabled="true" binding="#{rondaView.txtTorId_Torneo}"/>
												
										   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{rondaView.btnSave}" disabled="true" value="Save" action="#{rondaView.action_save()}" update="panelRonda,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{rondaView.btnDelete}" disabled="true" value="Delete" action="#{rondaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelRonda,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{rondaView.action_clear()}" update="panelRonda,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>