<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelTorneo" header="Torneo">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgTorId" value="TorId"/>
						 	<p:inputText id="txtTorId" binding="#{torneoView.txtTorId}">
						 		<p:ajax update="panelTorneo,msg,panelBotones" listener="#{torneoView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{torneoView.txtDescripcion}"/>
													<h:outputText id="msgNombre" value=" Nombre"/>
							<p:inputText id="txtNombre" disabled="true" binding="#{torneoView.txtNombre}"/>
												
										   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{torneoView.btnSave}" disabled="true" value="Save" action="#{torneoView.action_save()}" update="panelTorneo,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{torneoView.btnDelete}" disabled="true" value="Delete" action="#{torneoView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelTorneo,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{torneoView.action_clear()}" update="panelTorneo,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>