<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableTorneo" header="TorneoData">
							<p:growl id="men"/>				
							<p:dataTable value="#{torneoView.data}" var="torneo"
								paginator="true" rows="5">
																										<p:column filterBy="#{torneo.torId}" sortBy="#{torneo.torId}" >
										 <f:facet name="header">
										<h:outputText value="torId"/>
										</f:facet>
										 <h:outputText value="#{torneo.torId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{torneo.descripcion}" sortBy="#{torneo.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{torneo.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{torneo.nombre}" sortBy="#{torneo.nombre}" >
										 <f:facet name="header">
										<h:outputText value="Nombre"/>
										</f:facet>
										 <h:outputText value="#{torneo.nombre}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogTorneo"
										actionListener="#{torneoView.action_edit}">
										<f:attribute name="selectedTorneo" value="#{torneo}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{torneoView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedTorneo" value="#{torneo}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{torneoView.action_new()}" update=":dialogTorneo" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogTorneo" appendTo="@(body)" draggable="true"
						closable="false" visible="#{torneoView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelTorneo" header="Torneo">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgTorId" value="TorId"/>
									 <p:inputText id="txtTorId" binding="#{torneoView.txtTorId}">
									 <p:ajax update=":dialogTorneo" listener="#{torneoView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{torneoView.txtDescripcion}"/>
																		<h:outputText id="msgNombre" value=" Nombre"/>
									<p:inputText id="txtNombre" disabled="true" binding="#{torneoView.txtNombre}"/>
																		
																    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{torneoView.btnSave}" value="Save" action="#{torneoView.action_save()}" update=":dialogTorneo :frm:panelDataTableTorneo" />
									<p:commandButton id="btnClear" value="Clear" action="#{torneoView.action_clear()}" update=":dialogTorneo" />
									<p:commandButton id="btnExit" value="Exit" action="#{torneoView.action_closeDialog()}" update=":dialogTorneo" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

